.footer {
  border-top: 1px solid var(--black);

  h6 {
    margin: 0;

    a {
      display: inline-block;
      margin-bottom: 0.125rem;
    }
  }

  svg {
    @media screen and (max-width: 800px) {
      max-width: 16rem;
      display: block;
      margin: 3rem auto;
    }
  }

  img {
    max-width: 16rem;
    margin: 0 auto;
  }
}

.inner {
  position: relative;
  z-index: 1;
  padding: 3rem 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2rem 3rem;

  @media screen and (max-width: 800px) { 
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }

  p {
    margin: 0;
    font-size: 0.75rem;
    text-wrap: pretty;
    line-height: 1.4em;
  }

  .license {
    margin-top: 1rem;
    text-align: right;
    max-width: 100%;
    &,
    a {
      color: var(--muted);
    }
    @media screen and (max-width: 800px) {
      text-align: center;
    }
  }

  @media screen and (max-width: 800px) {
    padding: 3rem 1rem 5rem;
  }
}

.logo {
  display: block;
  svg {
    max-height: 6rem;
    &:hover {
      background: var(--ocean-fog-blue);
    }
  }
}
