.image-set {
  width: 100%;
  max-width: 60rem;
  margin: 3rem auto;

  h4 {
    font-weight: 600;
    font-size: 0.9375rem;
  }
}

.photo {
  padding: 0;
  img {
    width: 100%;
    height: auto;
    display: block;
  }
}
.single {
  grid-template-columns: 1fr;
}
