.image-set {
  width: 100%;
  max-width: 60rem;
  margin-left: auto;
  margin-right: auto;

  h4 {
    font-weight: 600;
    font-size: 0.9375rem;
    @media screen and (max-width: 800px) { 
      margin-left: 0.75rem;
    }
  }
}

.photo {
  padding: 0;
  img {
    width: 100%;
    max-height: 40rem;
    height: auto;
    display: block;
  }
}
.single {
  grid-template-columns: 1fr;
}
