.drawing-card {
  --border-color: var(--border);
  border: 1px solid var(--border-color);
  display: flex;
  flex-direction: column;
  height: min-content;
  width: 100%;
  text-decoration: none;

  &:hover {
    --border-color: var(--black);
    text-decoration: none;

    img {
      opacity: 1;
    }
  }

  p {
    max-width: 100%;
    margin: 0;
    width: 100%;
    border-bottom: 1px solid var(--border-color);
    font-size: 0.75rem !important;
    padding: 0.5rem;
    line-height: 1.2em;
  }

  p,
  h6 {
    margin: 0;
  }

  h6 {
    width: 100%;
    border-bottom: 1px solid var(--border-color);
    display: flex;
    flex-direction: row;
    margin: 0 !important;
    span {
      padding: 0.5rem;
      &:not(:last-child) {
        border-right: 1px solid var(--border-color);
      }
    }

    @media screen and (max-width: 900px) {
      span:last-child {
        display: none;
      }

      span:nth-child(2) {
        border-right: none;
      }
    }
  }
}
