.home {
  h1 {
    font-size: 3.125rem;
  }
}
.header {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  @media screen and (max-width: 800px) {
    height: 20rem;
  }
}

.hero {
  position: sticky;
  top: 50%;
  margin: 0 0 -4.5rem 0;
  display: grid;
  grid-template-columns: 1fr 21rem;
  align-items: center;
  justify-content: flex-end;
  justify-content: flex-start;
  h6 {
    text-align-last: justify;
    display: grid;
    grid-template-columns: 0.625rem 1fr;
    align-items: center;
    gap: 1rem;
    margin: 0 2px;
    svg {
      width: 0.75rem;
      height: auto;
    }
  }

  @media screen and (max-width: 800px) {
    grid-template-columns: 1fr;
  }
}

.title {
  margin-bottom: 2rem;
  width: max-content;
  @media screen and (max-width: 800px) {
    margin: 0 auto;
  }
}

.solander {
  width: 25rem;
  height: auto;

  @media screen and (max-width: 800px) {
    width: 80vw;
  }
}

.toc {
  margin-top: 0.5rem;
  > h6 {
    margin: 0.5rem 0 2rem 0;
    text-transform: none;
  }
}
