.controls {
  display: flex;
  flex-direction: column;
  right: 0.75rem;
  top: 5rem;
  gap: 0.5rem;
  position: fixed;
  button {
    height: 2rem;
    width: 2rem;
    border: 1px solid;
  }
  @media screen and (max-width: 800px) {
    top: 2.6825rem;
    right: 0.625rem;
  }
}
