.info {
  position: absolute;
  z-index: 10;
  right: 2.5rem;
  margin-right: -1px;
  top: 8rem;
  width: max-content;
  max-width: 24rem;
  padding: 0.5rem;
  max-height: calc(100% - 4rem);
  overflow: auto;
  border: 1px solid;
  pointer-events: none;

  &__header {
    border: 1px solid;
    display: inline-flex;
    flex-direction: row;
    h6 {
      padding: 0.5rem;
      &:not(:last-child) {
        border-right: 1px solid;
        white-space: nowrap;
      }
    }
  }

  &__button {
    position: fixed;
    backdrop-filter: none;
    background: none;
    top: 8rem;
    right: 0.5rem;

    svg {
      fill: #000;
    }

    &:hover {
      background: none;
      svg {
        fill: #000;
      }
    }
  }

  p {
    margin-bottom: 0;
  }
}
