.info {
  position: fixed;
  bottom: 0.75rem;
  left: 1rem;
}

.info__content {
  position: absolute;
  z-index: 10;
  left: 0.25rem;
  margin-right: -1px;
  bottom: 2rem;
  width: max-content;
  height: max-content;
  max-width: 24rem;
  padding: 0.5rem;
  overflow: auto;
  border: 1px solid;
  pointer-events: none;

  &__header {
    border: 1px solid;
    display: inline-flex;
    flex-direction: row;
    h6 {
      padding: 0.5rem;
      &:not(:last-child) {
        border-right: 1px solid;
        white-space: nowrap;
      }
    }
  }

  p {
    margin-bottom: 0;
  }
}

button.info__button {
  backdrop-filter: none;
  background: none;
  border: none;

  svg {
    fill: #aeaeae;
  }

  &:hover {
    background: none;
    svg {
      fill: #000;
    }
  }
}
