.toc {
  padding: 0 0.25rem;
  counter-reset: sublist-counter;

  &__container {
    z-index: 1;
    top: 3.1875rem;
    // max-width: 14.25rem;
    width: 17rem;
    left: 1.25rem;
    position: fixed;
    margin-bottom: 1.5rem;
    transition: opacity 150ms ease;

    @media screen and (max-width: 900px) {
      opacity: 0;
      top: 3.25rem;
      left: 0.625rem;
      width: 15rem;
      &[data-mounted="true"] {
        opacity: 1;
      }
    }
  }

  &__label {
    font-size: 0.75rem;
    text-transform: uppercase;
  }

  &__collapse_button {
    position: absolute;
    z-index: 1;
    right: 0;
    top: 0;
    backdrop-filter: none;
    background: none;
  }
  a {
    display: block;
  }

  button {
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    color: inherit;
    cursor: pointer;
    text-align: left;
    display: block;
    width: 100%;
  }

  li {
    > a {
      text-decoration: none;
    }
    &[data-selected="true"],
    &:hover {
      &::marker,
      h6,
      button {
        font-weight: 600;
      }
    }
  }

  p {
    margin: 0;
    padding-left: 0.5rem;
  }

  ol {
    padding: 0 0 0 1.25rem;
    margin: 0.5rem 0 0.75rem 0;
  }

  li {
    margin: 0.75rem 0 0 0;
    font-size: 0.75rem;
    line-height: 100%;
    text-wrap: initial;
    position: relative;

    > button,
    > a {
      margin-left: -1.5rem;
      padding-left: 2.25rem;
    }

    h6,
    > button {
      text-transform: uppercase;
    }
  }

  &__stories {
    border-top: 1px solid;
    padding: 0.625rem 0.75rem;

    ol {
      margin: 0.25rem 0 0;
      padding: 0;
    }

    li {
      margin: 0.375rem 0 0;
      list-style: none;
    }
  }

  &__story_row {
    font-size: 0.75rem;
    display: grid;
    gap: 0.5rem;
    grid-template-columns: 1fr 1.75rem;
    line-height: 1.33;

    > button {
      display: grid;
      gap: 0.5rem;
      grid-template-columns: 1.875rem 1fr;
    }
  }
}

.outline {
  border: 1px solid var(--black);
}

.collapsed {
  max-width: calc(100vw - 12.5rem);
  width: max-content;
  .toc__collapse_button {
    max-width: 20rem;
    padding: 0.5rem;
    position: relative;
    display: grid;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
    text-align: left;
    grid-template-columns: 1fr 1rem;
    top: 0;
    left: 0;
    line-height: 1.4;

    svg {
      align-self: flex-start;
    }
  }
}

.minimal {
  position: sticky;
  margin-top: -2rem;
  top: 4rem;
  border-left: 1px solid rgba(0, 0, 0, 0);
  @media screen and (max-width: 900px) {
    position: relative;
    top: 0;
    margin-top: 0;
    left: 0;
    padding: 0;
  }

  ol {
    @media screen and (max-width: 900px) {
      padding-left: 0.9375rem;
    }
  }
}
