.toc {
  padding: 0 0.5rem;
  width: max-content;
  width: 14rem;
  counter-reset: sublist-counter;

  &__container {
    position: fixed;
    z-index: 1;
    top: 5rem;
    margin-left: 0.5rem;
  }
  p {
    margin: 0;
    padding-left: 0.5rem;
  }

  ol {
    padding: 0 0 0 1rem;
    margin: 0.5rem 0;

    ol {
      overflow: hidden;
      margin-left: 1ch;
      margin-top: 0.25rem;
      margin-bottom: -0.25rem;
      > li {
        list-style: upper-alpha;
        margin: 0;
        padding: 0.25rem 0 0.25rem 0.25rem;
        &::before {
          // text-align: left;
          // counter-increment: sublist-counter;
          // content: counter(sublist-counter, lower-alpha) ".";
          // width: 2ch;
          margin-right: 1ch;
          // display: inline-block;
        }
        // &::marker {
        //   content: "";
        // }
      }
    }
  }

  li {
    margin: 0.75rem 0;
    font-size: 0.75rem;
    line-height: 100%;
    text-wrap: initial;

    h6 {
      margin-left: 0.5rem;
    }
  }
}

.outline {
  border: 1px solid;
}
