.toc {
  padding: 0 0.25rem;
  counter-reset: sublist-counter;

  &__container {
    z-index: 1;
    top: 3.1875rem;
    max-width: 13.75rem;
    left: 1.25rem;
    position: fixed;
    margin-bottom: 1.5rem;

    @media screen and (max-width: 800px) {
      top: 2.6875rem;
      left: 0.625rem;
    }
  }

  &__collapse_button {
    position: absolute;
    z-index: 1;
    right: 1;
    top: 1;
    backdrop-filter: none;
    background: none;
  }
  a,
  [role="button"] {
    text-decoration: none;
    cursor: pointer;
    display: block;
    &:hover {
      font-weight: 600;
    }
  }
  p {
    margin: 0;
    padding-left: 0.5rem;
  }

  ol {
    padding: 0 0 0 1.25rem;
    margin: 0.5rem 0;

    ol {
      overflow: hidden;
      margin-left: 0.125rem;
      margin-top: 0.25rem;
      margin-bottom: -0.25rem;
      > li {
        list-style: upper-alpha;
        margin: 0;
        padding: 0.25rem 0 0.25rem 0.25rem;
        &::before {
          // text-align: left;
          // counter-increment: sublist-counter;
          // content: counter(sublist-counter, lower-alpha) ".";
          // width: 2ch;
          margin-right: 1ch;
          // display: inline-block;
        }
        // &::marker {
        //   content: "";
        // }
      }
    }
  }

  li {
    margin: 0.75rem 0;
    font-size: 0.75rem;
    line-height: 100%;
    text-wrap: initial;

    h6 {
      margin-left: 0.5rem;
    }
  }
}

.outline {
  border: 1px solid var(--black);
}

.collapsed {
  max-width: calc(100vw - 12.5rem);
  .toc__collapse_button {
    max-width: 20rem;
    position: relative;
    display: grid;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
    text-align: left;
    grid-template-columns: 1fr 1rem;
    top: 0;
    left: 0;
  }

  h6 {
    line-height: 1.2em;
  }
}

.minimal {
  position: sticky;
  margin-top: -2rem;
  top: 4rem;
  border-left: 1px solid rgba(0,0,0,0);
  @media screen and (max-width: 800px) {
    position: relative;
    top: 0;
    margin-top: 0;
    left: 0;
    padding: 0;
  }

  ol {
    @media screen and (max-width: 800px) {
      padding-left: 0.9375rem;
    }
  }
}
