.articles {
  @media screen and (max-width: 800px) {
    padding-bottom: 2rem;
  }
  h1 {
    padding: 0 2rem 3.75rem 2rem;
    margin: 6rem auto 0 auto;
    max-width: 100rem;
  }

  main {
    padding-top: 0;
    border-top: 1px solid var(--border);
  }
  a {
    font-weight: 600;
  }
  ol {
    max-width: 48rem;
    margin: 0.25rem 0 0 1.5rem;
    padding: 0 0 0 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    @media screen and (max-width: 800px) {
      margin-bottom: 0;
    }
  }

  li {
    margin: 0;
    padding-right: 0.5rem;
  }

  section {
    > div:nth-child(2) {
      border-left: 1px solid var(--border);
      margin-bottom: -1px;
      margin-left: -1px;
      padding: 2rem;
      @media screen and (max-width: 800px) {
        padding: 0;
        border: none;
      }
    }
    @media screen and (max-width: 800px) {
      padding: 0.75rem 1rem;
    }
  }
}

.section-title {
  display: grid;
  grid-template-columns: 4rem 1fr;
  gap: 0.5rem;
}

.article-header {
  display: grid;
  grid-template-columns: 2.5rem 1fr;
  gap: 0.5rem;
  align-items: center;
  margin: 0.25rem 0;
}

.article-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;

  p {
    font-weight: 600;
  }
  h6 {
    white-space: nowrap;
    margin: 0;
  }
  &:hover {
    text-decoration: none;

    div {
      border-color: var(--black);
    }
  }

  &,
  * {
    line-height: 1rem;
  }

  p {
    margin: 0;
  }

  div {
    flex: 1 1 auto;
    border-bottom: 1px solid #e4e4e4;
    min-width: 0.5rem;
  }
}

.article-subtitle {
  margin-left: 3rem;

  p {
    margin: 0;
    font-size: 0.875rem;
  }
}
