.articles {
  h1 {
    padding: 0.5rem 3rem;
  }
  a {
    font-weight: 600;
  }
  ol {
    max-width: 40rem;
    margin: 0.25rem 0 3rem 0;
    padding: 0 0 0 1rem;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    @media screen and (max-width: 800px) {
      padding: 0 0 0 1.5rem;
    }
  }

  li {
    margin: 0;
  }
}

.section-title {
  display: flex;
  padding: 0.825rem 0 0 0;
  margin-left: auto;

  h6 {
    display: inline-flex;
    gap: 0.5rem;
    margin: 0.0625rem 0.5rem; 
  }

  @media screen and (max-width: 800px) {
    margin-left: 0.5rem;
  }
}
