.page {
  padding-left: 18rem;
  padding-right: 4rem;
  :global(main) {
    margin-top: 5rem;
  }

  p,
  li {
    font-size: 1.0625rem;
    a {
      text-decoration: underline;
      text-underline-offset: 2px;
    }
  }

  ol li {
    max-width: calc(75ch - 3rem);
  }

  h3 {
    margin: 3rem 0 1rem 0;
  }

  figure {
    margin: 3rem 0;
  }

  p,
  figure,
  ul {
    max-width: 52rem;
    width: 100%;
  }

  &__header {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 30rem;

    @media screen and (max-width: 800px) {
      display: block;
      margin-top: 3rem;
    }
  }

  &__metadata {
    border: 1px solid;
    position: fixed;
    left: 0.5rem;
    top: 5.5rem;
    width: 16.5rem;
    z-index: 1;

    @media screen and (max-width: 800px) {
      position: relative;
      top: 0;
      margin-top: 5rem;
      width: calc(100% - 1rem);
    }

    > div,
    &__row {
      display: grid;
      grid-template-columns: 6rem 1fr;
      &:not(:last-child) {
        border-bottom: 1px solid;
      }

      > * {
        padding: 0.5rem;
        display: flex;
        gap: 0.5rem;
        align-items: center;
        svg {
          flex-shrink: 0;
        }
        &:not(:last-child) {
          border-right: 1px solid;
        }
      }
    }
  }

  &__materials {
    position: relative;
    top: 0;
    left: 0;
    margin: 1rem 0 0 0;
    border-color: #e6e6e6;
    width: 100%;
  }

  &__drawing {
    p {
      max-width: 100%;
    }
  }

  &__toc {
    h6 {
      display: grid;
      grid-template-columns: 1rem 1fr;
    }
  }

  .full_image {
    position: relative;
    margin-left: -18rem;
    left: 0;
    width: 100vw;
    max-width: 120rem;

    @media screen and (max-width: 800px) {
      width: 100%;
      margin-left: 0;
    }

    img {
      width: 100%;
      height: auto;
      display: block;
      left: 50%;
      position: relative;
      transform: translate(-50%, 0);
    }
  }

  .inline_image {
    img {
      width: 100%;
      height: auto;
      display: block;
    }
  }

  h2 {
    margin: 3.5rem 0 0.5rem 0;
  }

  section {
    margin: 3rem 0;

    p {
      font-size: 1rem;
    }

    > ol {
      padding-left: 1rem;
      margin: 0;

      li {
        list-style: lower-roman;
        margin: 0.5rem;
      }
    }
  }

  @media screen and (max-width: 800px) {
    padding: 0 0.5rem;
  }
}
