.anatomy-pane {
  position: relative;
  @media screen and (max-width: 800px) {
    width: calc(100vw - 1rem);
  }
  &__header {
    border: 1px solid;
    display: inline-flex;
    flex-direction: row;
  }
  h6 {
    margin: 0;
    position: absolute;
    bottom: -1rem;
    width: 100%;
    text-align: center;
    left: 0;
    z-index: 1;
  }
}
