.anatomy-pane {
  position: relative;
  @media screen and (max-width: 900px) {
    margin: -0.5rem auto 0.25rem auto;
    width: 100vw;
    max-width: 38rem;
    aspect-ratio: 1.1 !important;
    position: relative;
  }
  &__header {
    border: 1px solid var(--black);
    display: inline-flex;
    flex-direction: row;
  }
  h6 {
    margin: 0;
    position: absolute;
    bottom: -1.1875rem;
    width: 100%;
    text-align: center;
    left: 0;
    z-index: 1;
    @media screen and (max-width: 900px) {
      bottom: -1.375rem;
      padding: 0 !important;
    }
  }
}
