.sub-nav {
  margin-top: 1.9375rem;
  border-top: 1px solid var(--black);
  &.border-bottom {
    border-bottom: 1px solid var(--black);
  }
  &__container {
    display: flex;
    gap: 2.5rem;
    margin-left: auto;
    padding: 0.5rem 2rem 0.5rem 0.5rem;
    width: max-content;
    max-width: 100%;
    justify-content: space-between;

    @media screen and (max-width: 900px) {
      padding-right: 0.5rem;
      padding-left: 0.5rem;
      margin-left: 0;
      width: 100%;
      gap: 1.5rem;
    }

    > div:last-child {
      text-align: right;
      a {
        grid-template-columns: 1fr 1rem;
      }

      span {
        left: auto;
        right: 0;
      }
    }

    a {
      display: grid;
      grid-template-columns: 1rem 1fr;
      align-items: start;
      gap: 0.5rem;
      text-decoration: none;
      font-size: 0.75rem;
      text-transform: uppercase;
      font-weight: 400;

      @media screen and (max-width: 900px) { 
        min-width: 5rem;
      }

      svg {
        margin-top: -1px;
      }

      &:hover {
        font-weight: 600;
        @media screen and (max-width: 900px) {
          font-weight: 400;
        }
      }
    }

    .label {
      position: relative;

      span:first-child {
        font-weight: 600;
        visibility: hidden;
        @media screen and (max-width: 900px) {
          display: none;
        }
      }

      span:last-child {
        position: absolute;
        left: 0;
        top: 0;
        @media screen and (max-width: 900px) {
          position: relative;
        }
      }
    }
  }
}
