.people {
  //   a {
  //     text-decoration: underline;
  //     text-decoration-thickness: 1px;
  //     text-underline-offset: 2px;
  //   }

  p {
    font-size: 0.875rem;
    margin: 0;
  }

  section {
    border-top: 1px solid;

    >div:nth-child(2) {
      border-left: 1px solid;
    }
  }
}

.person {
  padding: 2.5rem 2rem;
  border-bottom: 1px solid;

  > div {
    margin: 1.5rem 0 0 0;
    display: grid;
    grid-template-columns: 5rem 1fr;
    align-items: flex-start;

    h6 {
      margin-top: 0.25rem;
    }
  }
}
