.search {
  &__button {
    position: fixed;
    z-index: 1000;
    top: 0rem;
    right: 0rem;
    border-left: 1px solid;
    height: 2rem;
    border-bottom: 1px solid;

    &.float {
      right: 0.5rem;
      top: 0.5rem;
      border: 1px solid;
    }

    &:not(.float) {
      backdrop-filter: none;
    }
  }

  &__input {
    position: fixed;
    z-index: 1000;
    width: calc(50% - 2.9375rem);
    top: 0rem;
    right: 1.875rem;

    @media screen and (max-width: 800px) {
      width: calc(100% - 1.875rem);
    }

    &.float {
      top: 0.5rem;
      right: 2.4375rem;

      input {
        border-top: 1px solid;
      }
    }

    input {
      width: 100%;
      border: 1px solid;
      border-right: none;
      border-top: none;
      height: 2rem;
      line-height: 2rem;
      padding: 0.5rem;

      &:active,
      &:focus {
        outline: none;
        border-color: #000;
      }
    }
  }

  &__loading {
    margin-top: 0.5rem;
  }

  &__results,
  &__no_results {
    padding: 0.5rem;
    border: 1px solid;
    border-top: none;
    max-height: calc(100vh - 3rem);
    overflow: auto;
    background: #ffffff;
  }

  &__result_selected,
  &__result:hover {
    span:first-child {
      text-decoration: underline;
      text-underline-offset: 4px;
    }
  }

  &__backdrop {
    position: fixed;
    inset: 0;
    background: rgba(255, 255, 255, 0);
    z-index: 999;
  }
}
