.search {
  &__button {
    position: fixed;
    z-index: 1000;
    top: 0rem;
    right: 0rem;
    border-left: 1px solid var(--black);
    height: 2rem;
    border-bottom: 1px solid var(--black);

    &.float {
      border: 1px solid var(--black);
      border-top: none;
      border-right: none;
    }

    &:not(.float) {
      backdrop-filter: none;
    }
  }

  &__input {
    position: fixed;
    z-index: 1000;
    width: calc(50% - 2.9375rem);
    top: 0rem;
    right: 1.875rem;

    @media screen and (max-width: 800px) {
      width: calc(100% - 1.875rem);
    }

    &.float {
      top: 0;
      right: 1.9375rem;

      // input {
      //   border-top: 1px solid var(--black);
      // }
    }

    input {
      width: 100%;
      border: 1px solid var(--black);
      border-right: none;
      border-top: none;
      height: 2rem;
      line-height: 2rem;
      padding: 0.5rem;
      background: rgba(255, 255, 255, 0.8);
      backdrop-filter: blur(8px);
      font-family: "Helvetica", sans-serif;

      &:active,
      &:focus {
        outline: none;
        border-color: var(--black);
      }
    }
  }

  &__loading {
    margin-top: 0.5rem;
  }

  &__results,
  &__no_results {
    padding: 0.5rem;
    border: 1px solid var(--black);
    border-top: none;
    max-height: calc(100vh - 3rem);
    overflow: auto;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(8px);
  }

  &__results {
    > div {
      > h6 {
        margin: 1.25rem 0 0 0;
        text-align: center;
      }
      &:first-child {
        h6 {
          margin-top: 0;
        }
      }
    }
  }

  &__result {
    a {
      margin: 0.75rem 0;
      display: grid;
      grid-template-columns: 3.5rem 1fr;
      gap: 0.5rem;
      align-items: center;
      text-decoration: none;

      h6 {
        color: var(--muted);
      }
    }
  }

  &__backdrop {
    position: fixed;
    inset: 0;
    background: rgba(255, 255, 255, 0);
    z-index: 999;
  }
}
